.cjs-div{
    width: 100%;
    border: 2px dashed #ccc;
    overflow: auto;
}

.cjs-chess{
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #ccc;
}

.cjs-cdiv-left{
    margin-left:8px;
    margin-top: 8px;
    margin-bottom: 8px;
    float:left;
}

.cjs-card-div{
    margin:8px;
}
.cjs-timer-text{
    margin-top: 8px;
}
.cjs-btn{
    margin-right: 8px;
    border: black solid 1px;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
}

.cjs-panel-button{
    margin-right: 8px;
}

.cjs-pn-tag-active{
    border: 1px solid #ccc;
    padding: 4px 10px 4px 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: #ccc;
    outline: none;
}

.cjs-pn-tag{
    border: 1px solid #ccc;
    padding: 4px 10px 4px 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
}

.cjs-pn-div{
    border: 1px solid #ccc;
    margin-bottom: 8px;
}
